<center>
<br/><br/><br/>
<div class="all">
<br/>
<h2 style="color:red;"><u>SIGN UP</u></h2>

<form action='/newuserentry' method='POST'>

<label>Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" name="username"><br/><br/>
<label>Email</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" name="email"><br/><br/>
<label>Password</label>
<input type="password" name="password"><br/><br/>
<input type="submit" value="SIGNUP"><br/>

</form>

<br/><br/><br/><br/><br/><br/>
</div>
</center>
<br/><br/><br/><br/><br/><br/>
<style>
	.all
	{
		box-shadow: 10px 10px 5px #888888;
		border-radius: 25px;
		width:550px;
		line-height: 20px;
		height:300px;
		background-color:#F5DADA;
	}
</style>